@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe src='https://webchat.botframework.com/embed/shuaihua-weather-bot-test?s=7yH4D9EFtIA._lmkop7dYDT1ChZkz5Y4Q18ZIlqqJhfejtHbHeTApHU' style='border: 1px solid #e5e5e5;min-width: 400px;width: 500px;min-height: 500px;position: absolute;bottom: 65px;right: 0px;'></iframe>
</div>
